/* Landing Page CSS */
body {
background: whitesmoke;
color: black;
overflow: hidden;
}

/* NAVIGATION*/
.navbar {
    display: flex;
    flex-wrap: wrap;
     padding: 10px 50px 10px 50px;
     margin-top: 10px;
 }
 
 .navbar-logo img{
     max-height: 130px;
 }
 
#get-started {
padding: 10px;
border-color: white;
color: white;
border-radius: 10px;
font-weight: 700;
text-decoration: none;
 }
 
 .page-links li {
     list-style: none;
     display: inline;
     margin: 15px;
     font-weight: 500;
     text-transform: uppercase;
 }
 @media screen and (max-width: 600px) {
 
 }

 .page-links a {
     text-decoration: none;
     color: white;
 }

 .page-links a:hover, .page-links .current{
     text-decoration: underline;
     text-decoration-color: black;
     text-decoration-thickness: 2px;
 }

 hr {
     margin-bottom: 0;
     color: gainsboro;
 }
 /* END OF NAVIGATION */

 .intro-text {
    margin: 25px 60px 10px 60px;
 }

 h1 {
    font-size: 72px;
 }

 p {
    font-size: 20px;
    font-weight: lighter;
    flex-wrap: wrap;
    max-width: 50%;
    margin-top: 20px;
    line-height: 2;
 }

#login {
margin: 40px 60px 60px 60px;
max-width: 30%;
color: black;
}

.canvas-wrapper {
    position: fixed;
    bottom: 35px;
    right: 50px;
    z-index: 999;
    display: block;
}

#canvas-container {
    width: 530px;
    height: 280px;
    background-color: white;
    overflow: hidden;
}

.frame {
    border:solid 10px #eee;
    border-radius:2px;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    height:300px;
}

#refresh {
    box-shadow:0 0 5px 0 rgba(0,0,0,.25);
    margin-top: 10px;
    float: right;
}



