body {
    background: whitesmoke;
    color: black;
}
        
/* NAVIGATION*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
}
     
.navbar-logo img{
    max-height: 130px;
}
     
.page-links li {
    list-style: none;
    display: inline;
    margin: 7px;
    font-weight: 500;
    text-transform: uppercase;
}
     @media screen and (max-width: 600px) {
     
     .page-links a {
         text-decoration: none;
         color: black;
     }
    
     .page-links a:hover{
         text-decoration: underline;
         text-decoration-color: white;
         text-decoration-thickness: 2px;
     }
    }
    
hr {
    margin-bottom: 0;
    color: gainsboro;
}
/* END OF NAVIGATION */
   

#profile-img, #userProfileImg img {
    max-height: 90px;
    margin-bottom: 20px;
    margin-top: 0;
}

.username {
    font-size: 18px;
    font-weight: lighter;
}

.img-name {
    margin-right: 50px;
    max-width: 100%;
}

.aboutMe {
    font-size: 25px;
    font-weight: lighter;
}

#bioDisplay {
    display: block;
    background: rgba(220, 220, 220, 0.336);
    width: 700px;
    height: 100pt;
    border-radius: 10px;
    margin-right: 30px;
    padding: 15px;
    color: black;
    font-weight: 300;
  }
  
  #bioEdit {
    display: none;
  }
  
  #bioContainer:hover #bioDisplay,
  #bioContainer:hover #bioEdit {
    display: none;
  }
  
  #bioContainer:hover #bioEdit {
    display: block;
  }
  
  #biotext {
    width: 700px;
    height: 75pt;
    border-radius: 10px;
    margin-right: 30px;
    padding: 15px;
    color: black;
    font-weight: 300;
  }

@media (max-width: 1000px){
    #bioDisplay {
        background: rgba(220, 220, 220, 0.336);
        width: 300px;
        height: 100pt;
        border-radius: 10px;
        margin-right: 30px;
        padding: 15px;
    }
    #biotext {
        background: black;
        width: 300px;
        height: 75pt;
        border-radius: 10px;
        margin-right: 30px;
        padding: 15px;
    }
}

@media (max-width: 600px){
    #bioDisplay {
        background: rgba(220, 220, 220, 0.336);
        width: 100px;
        height: 100pt;
        border-radius: 10px;
        margin-right: 30px;
        padding: 15px;
    }
    #biotext {
        background: white;
        width: 100px;
        height: 100pt;
        border-radius: 10px;
        margin-right: 30px;
        padding: 15px;
    }
}

h4 {
    font-size: 30px;
    font-weight: 300;
}

main {
    margin: 30px 60px 60px 60px;
}
    
#cards {
    margin: 30px;
    max-width: 15in;
}

.posts {
    display: flex;
    justify-content: space-between;
}
    
.mine {
    flex: 1;
    margin-left: 70px;
}

#profileContainer {
    height: 331px; 
    overflow: auto;
}

.header {
    margin-left: 25px;
}

.new {
    flex: 1;
}

.new textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}

.deleteButton, .addSkillButton {
    border-style: none;
    background: none;
    display: flex;
    justify-content:end;
}
.postInput, .pollInput {
    border-radius: 8px;
    border-width: 1px;
    height: 40px;
    width: max-content;
}
.pollInput {
    margin-bottom: 5px;
}

#postTypeDropdown {
    border-radius: 8px;
    padding: 2px;
    width: max-content;
}
#openTypeButton {
    border-radius: 20px;
    height: 25px;
}

.skillsDisplay img {
width: 40px;
}

#openSettingsModalButton, #openSkillsModalButton {
    border-style: none;
    background-color: whitesmoke;
}

#openSkillsModalButton {
    border-left: rgba(137, 137, 137, 0.336);
    border-left-style: solid;
    border-left-width: 2px;
}

#openAvatarModalButton {
    border-style: none;
    background-color: whitesmoke;
}

#edit-profile-img, #userProfileImg img, #userAvatarContainer img {
    max-height: 3in;
    max-width: 3in;
    margin: 20px;
    border-style: solid;
}

#userAvatarContainer {
    display: flex;
    justify-content: center;
}

.edit-profile-img-icons {
    max-width: 35px;
    max-height: 35px;
}

.edit-avatar-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.edit-avatar-buttons button{
    border-style: none;
    background-color: white;
}

.userProfileContainers {
    background-color: whitesmoke;
    color: black;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    max-width: fit-content;
    margin-left: 10px;
}

#userDataContainer {
    display: block;
    text-align: left;
    margin-left: 25px;
}

.edit-button {
    display: flex;
}

.edit-button button {
    margin-left: 15px;
    border-style: none;
    background: none;
    font-size: 14px;
    text-decoration: underline;
}

.userInfo {
    display: block;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.user-info-fields {
    display: flex;
    gap: 1em;
    margin-bottom: 8px;
}

.user-info-fields-main {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.user-info-containers {
    background-color: whitesmoke;
    width: max-content ;
    padding: 6px 15px 6px 15px;
    border-radius: 10px;
    font-weight: lighter;
    flex: 1;
    text-align: left;
}

#settings-container {
    display: flex;
    margin-left: 30px;
    margin-right: 40px;
}

#left-side-settings {
    margin-right: 70px;
    width: 100%;
}

#right-side-settings {
    border-left-style: solid;
    border-left-color: whitesmoke;
    padding-left: 20px;
}

.modal-content {
    height: 80%;
}

#avatarModal .modal-content {
    max-width: 40%;
    min-width: fit-content;
    max-height: 70%;
    min-height: fit-content;
}

#searchResults {
    overflow-y: scroll;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.skill-images-profile{
    margin-right: 20px;
    max-width: 40px;
    margin-bottom: 12px;
 }

/* .skill-images {
box-shadow: 10px 10px 5px darkgrey; } */


/* b {
    text-shadow: 0 0 5px rgb(180, 177, 177); } */
 
#showAllSkills {
    font-weight: lighter;
}

.skill-header, .skill-form {
    margin: 20px;
}

#deleteAccount {
    border-style: none;
    background: none;
}

.settingsUserData {
    overflow-y: scroll;
    overflow-x: hidden;
}

#settings-bio-container {
    width: 350px;
    height: 100px;
}

.edit-user-data {
    display: none;
}

.edit-user-data input {
    padding: 4px;
}

#delete-account-content {
    margin-top: 30px;
    align-self: center;
}

#modal-title {
text-align: center;
}

#account-action-buttons {
    display: flex;
    gap: 9px;
}

#action-buttons {
    text-align: center;
    padding: 10px;
}

#confirm-account-deletion {
    margin: 20px;
}