/* Posts Page CSS */
body {
    background: whitesmoke;
    color: black;
}
    
/*NAVIGATION PAGE*/
.navbar {
    display: flex;
    flex-wrap: wrap;
     padding: 10px 50px 10px 50px;
     margin-top: 10px;
 }
 
 .navbar-logo img{
     max-height: 130px;
 }

 .page-links li {
     list-style: none;
     display: inline;
     margin: 15px;
     font-weight: 500;
     text-transform: uppercase;
 }

 #explore {
    margin-left: 40px;
    text-decoration: none;
    color: black;

 }
 @media screen and (max-width: 600px) {
 
 }

 .page-links a {
     text-decoration: none;
     color: white;
 }

 .page-links a:hover, .page-links .current{
     text-decoration: underline;
     text-decoration-color: black;
     text-decoration-thickness: 2px;
 }

#profile {
    max-height: 30px;
}

 hr {
     margin-bottom: 0;
     color: gainsboro;
 }
 /* END OF NAVIGATION */

 .content {
    margin: 60px;
 }

 h1 {
    margin-bottom: 40px;
    font-weight: lighter;
 }

 #postContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }

 #cards {
    margin: 30px;
    max-width: 15in;
    height: 250px; 
    overflow: auto;
}

.like-button {
    border-style: none;
    background: none;
    opacity: 0.2;
}

.liked {
    opacity: 1.0;
}

.mousedOver {
    background-color: black;
}

#post-controls {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 30px;
    z-index: 999;
}

#newPost {
    border-radius: 25px;
    width: 45px;
    height: 45px;
    /* background-color: white;
    color: black; */
    border-style:solid;
    padding-bottom: 7px;
    font-weight: 900;
    font-size: larger;
}

#post-controls img {
    width: 35px;
    height: 35px;
}

#openModalButton {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    border-style:solid;
    padding-bottom: 5px;
    font-weight: 900;
    color: white;
    background: rgb(193, 189, 189);
}

select {
    width: max-content;
}

.event-content {
    display: flex;
    justify-content: space-between;
}

.event-description {
    margin-right: 60px;
}

.event-details {
    margin-left: 30px;
}
