/* Posts Page CSS */
body {
    background: whitesmoke;
    color: black;
}
    
/*NAVIGATION PAGE*/
.navbar {
    display: flex;
    flex-wrap: wrap;
     padding: 10px 50px 10px 50px;
     margin-top: 10px;
 }
 
 .navbar-logo img{
     max-height: 130px;
 }

 .page-links li {
     list-style: none;
     display: inline;
     margin: 15px;
     font-weight: 500;
     text-transform: uppercase;
 }

 #explore {
    margin-left: 40px;
    text-decoration: none;
    color: black;

 }
 @media screen and (max-width: 600px) {
 
 }

 .page-links a {
     text-decoration: none;
     color: white;
 }

 .page-links a:hover, .page-links .current{
     text-decoration: underline;
     text-decoration-color: black;
     text-decoration-thickness: 2px;
 }

#profile {
    max-height: 30px;
}

 hr {
     margin-bottom: 0;
     color: gainsboro;
 }
 /* END OF NAVIGATION */

 .content {
    margin: 60px;
 }

 h1 {
    margin-bottom: 40px;
    font-weight: lighter;
 }

 #postContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }

 #cards {
    margin: 30px;
    max-width: 15in;
    height: 250px; 
    overflow: auto;
}

.like-button {
    border-style: none;
    background: none;
    opacity: 0.2;
}

.liked {
    opacity: 1.0;
}

.mousedOver {
    background-color: black;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80%;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 44px;
    cursor: pointer;
  }
  
  #searchQuery {
    width: 40%;
    border-radius: 10px;
    border-width: 1px;
    height: 40px;
    padding: 10px;
    background: rgb(244, 243, 240);
    margin-left: 20px;
  }
  
  h3{
    margin-left: 20px;
  }
